[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/vim-latex-suite"]
	path = bundle/vim-latex-suite
	url = https://github.com/gerw/vim-latex-suite.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/fencview"]
	path = bundle/fencview
	url = https://github.com/mbbill/fencview.git
